<div class="News_listbox">
    <div class="col-lg-2 News_listtime">
        <p class="time_txt">{$item.publishtime|date='d',###}</p>
        <p class="time_txt1">{$item.publishtime|date='Y/m',###}</p>
    </div>
    <div class="col-lg-4 News_listimg">
        <a href="{$item.url}"> <img src="{$item.image}" alt="{$item.title}"></a>
    </div>
    <div class="col-lg-6 News_listtxt">
        <p class="Newslisttxt_title">
            <a href="{$item.url}">{$item.title|mb_substr=0,28}...</a>
        </p>
        <p class="Newslisttxt_txt">
            <a href="{$item.url}">{$item.description|mb_substr=0,128}</a>
        </p>
        <p class="Newslisttxt_txt1">
            <span><a href="{$item.url}"> More</a>&nbsp;</span>
            <a href="{$item.url}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </a>
        </p>
    </div>
</div>
