<div class="col-lg-4 content-Sbox ">
    <div class="content-imgbox">
        <a href="{$item.url}"> <img src="{$item.image}" alt=""></a>
    </div>
    <div class="content-imgtxt">
        <div class="content-imgtxt1">
            <a href="{$item.url}">
                <h4>{$item.title|mb_substr=0,22}</h4>
            </a>
            <a href="{$item.url}">
                <p>{$item.description}</p>
            </a>
        </div>
        <a href="{$item.url}">
            <svg t="1618906600907" class="icon" viewBox="0 0 1024 1024" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" p-id="2627" width="200" height="200">
                <path
                        d="M309.333333 85.333333h208.213334L853.333333 517.546667 508.16 938.666667H309.333333l340.053334-421.12L309.333333 85.333333z"
                        p-id="2628"></path>
            </svg>
        </a>
    </div>
</div>